<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>

<header>
  <img class="img-logo" src="/assets/img/cat.png" alt="">
  <nav>


   {{#if session.id}}
        <a href="/login">Login</a>
    <a href="/cadastro">Registro</a>
      {{else}}
         <a href="/logout">Sair</a>
      {{/if}}
  </nav>

</header>

  {{#if messages.message}}
  <div class="message">
    {{messages.message}}
  </div>
  {{/if}}
  {{{body}}}

</body>
</html>