

<section>
    <h1>Cadastro:</h1>
        <form action="/cadastrosave" method="post">
    <div class="form-control">
        <label for="">Usuario:</label>
        <input type="text" name="nome" >
    </div>
    <div class="form-control">
        <label for="">Email:</label>
        <input type="text" name="email" >
    </div>
    <div class="form-control">
        <label for="">Senha:</label>
        <input type="text" name="password" >
    </div>
    <div class="form-control">
        <label for="">Repita a Senha:</label>
        <input type="text" name="confirmacao" >
    </div>
    <input type="submit" value="Cadastrar">
        </form>
</section>

