<div class="container-img">
     <section class="imagens01">
     <div>
          <img  src="/assets/img/cat01.jpg" alt="">
     </div>
     <div>
          <img  src="/assets/img/cat02.jpg" alt="">
     </div>
     <div>
           <img  src="/assets/img/cat08.jpg" alt=""> 
     </div>
</section>

{{!-- 02 --}}

  <section class="imagens02">
     <div>
          <img  src="/assets/img/cat11.jpg" alt="">
     </div>
     <div>
          <img  src="/assets/img/cat08.jpg" alt="">
     </div>

</section>

{{!-- 03 --}}

     <section class="imagens03">
     <div>
          <img  src="/assets/img/cat04.jpg" alt="">
     </div>
    
</section>

{{!-- 04 --}}
     <section class="imagens01">
     <div>
          <img  src="/assets/img/cat06.jpg" alt="">
     </div>
     <div>
          <img  src="/assets/img/cat09.jpg" alt="">
     </div>
     <div>
           <img  src="/assets/img/cat12.jpg" alt=""> 
     </div>
</section>

{{!-- 05 --}}
  <section class="imagens02">
     <div>
          <img  src="/assets/img/cat03.jpg" alt="">
     </div>
     <div>
          <img  src="/assets/img/cat13.jpg" alt="">
     </div>

</section>
</div>