

<section>
    <h1>Login:</h1>
        <form action="/loginPost" method="post">
    <div class="form-control">
        <label for="">Usuario:</label>
        <input type="text" name="nome" >
    </div>
    <div class="form-control">
        <label for="">Senha:</label>
        <input type="text" name="password" >
    </div>

    <input type="submit" value="Cadastrar">
        </form>

    <h3>Cadastre-se</h3>
    <p>Ainda não possui conta?Cadastre-se no site</p>

</section>

